<mat-toolbar color="primary">
    <mat-toolbar-row>     
      <span class="example-spacer"></span>    
      <button mat-button><h3>ASHVANI</h3></button>
      <button mat-button>API-POC</button>
      <button mat-button>Contact</button>
      <div class="col-sm-12 col-xs-12 header-section">
        <div class="logo-container">
            <img src="content/images/Avengers.png" class="img-responsive" style="margin-left: 334px;width: 65px;margin-top: 10px;" alt="Logo" />
            <img src="content/images/1.png" *ngIf="!authenticated" (click)="logIn()" style="position:absolute;right:50px;width:44px;top: 17px;" class="img-responsive btn" />
            <img src="content/images/logina.png" *ngIf="authenticated" (click)="logOut()" style="position:absolute;right:50px;width: 44px;top: 17px;" class="img-responsive btn" />
            <label style="position:absolute;right:7px;top: 35px;font-size:12px !important"> {{CDSID}}</label>
        </div>
    </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <img src="content/images/wall.jpg" class="img-responsive"Style="width:1333px;"/>