/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*header*/
.mat-toolbar.mat-primary {
    background: darkcyan;
    color: moccasin;
}
/*corrousil*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin:auto;
}